@use '@/shared/lib/styles/mixin.scss' as *;

.bg {
  background: #1a1b1e;
}

[lang="pl"]{
  .header{
    &__main{
      &_row{
        nav{
          a{
            font-size: 13px;
          }
        }
      }
    }
  }
}

.link {
  transition: all 0.3s ease;

  &:hover {
    color: #fff;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #121316;
  &__top {
    @include tablet {
      display: none;
    }
    &_row {
      display: flex;
      padding: 12px 0;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .socials {
        opacity: 0;
        display: flex;
        gap: 12px;
      }
      .contacts {
        display: flex;
        gap: 24px;
        a {
          color: #b3b3b5;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
  &__main {
    &_row {
      display: flex;
      padding: 24px 0;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      @include tablet {
        padding: 16px 0;
        border-bottom: 1px solid #1a1b1e;
        background: #121316;
      }
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        @include tablet {
          display: none;
        }
        a {
          color: #b3b3b5;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .actions {
        display: flex;
        gap: 12px;
        align-items: center;
        .burger {
          display: none;
          @include tablet {
            display: block;
          }
        }
        .cart {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 24px;
          border: 1px solid #3e3f42;
          background: #292a2d;
        }
        .login {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 24px;
          border: 1px solid #3e3f42;
          background: #292a2d;
          transition: all 0.3s ease;
          &:hover {
            background: #323336;
          }
          @include tablet {
            display: none;
          }
        }
        .signup {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          padding: 12px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 24px;
          background: #2583ff;
          border: 1px solid #2583ff;
          transition: all 0.3s ease;
          &:hover {
            background: #1965c8;
          }
          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}

.badgeWrapper {
  @include tablet {
    display: none;
  }
}

.userWrapperMob {
  padding: 0 24px;
  margin: 12px 0;
}

.mobileMenu {
  top: -200vh;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #121316;
  z-index: 99;
  transition: top 0.3s ease-in-out;
  padding: 90px 0 0 0;
  &.active {
    top: 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 0 24px;
    a {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 16px;
      background: #18191d;
      color: #b3b3b5;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .actions {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 24px 24px;
    .loginMobile {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      border: 1px solid #3e3f42;
      background: #292a2d;
      width: 50%;
    }
    .signupMobile {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 24px;
      background: #2583ff;
      border: 1px solid #2583ff;
      width: 50%;
    }
  }
  .bottom {
    display: flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-top: 1px solid #1a1b1e;
    background: #1a1b1e;
    .socials {
      display: flex;
      gap: 12px;
    }
    .contacts {
      display: flex;
      gap: 12px;
      a {
        color: #b3b3b5;
        font-size: 16px;
        font-style: normal;
      }
    }
  }
}
