.layout {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  >div{
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
