.heading {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.text {
  color: #717173;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemDownload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #2583ff;
}

.download {
  color: #2583ff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
